/* Reset de estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    min-width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.encrypt {
    background-color: #4CAF50;
    color: white;
}

button.decrypt {
    background-color: #f44336;
    color: white;
}

button.copyText {
    background-color: #007bff;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .left-panel, .right-panel {
        min-width: 100%;
    }
}
